$full_height: 80vh;

body {
  padding-top: 30px;
  padding-bottom: 30px;
  background-color: #F4F4F4;
}

.main-content {
  border-radius: 6px;
}

.garage-info {
  background-color: #FFF;
}

.cars-container {
  background-color: #DBDBDB;
}

.car {
  background-color: #FFF;
  margin: 5px;
}


@media (min-width: 768px) {
  .main-content, .garage-info, .cars-container {
    height: $full_height;
  }
}

