body {
  padding-top: 30px;
  padding-bottom: 30px;
  background-color: #F4F4F4;
}

.main-content {
  min-height: 80vh;
  background-color: #FFF;
  border-radius: 6px;
}

.garage-info {

}

.car-list {

}

